<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="C:\Users\Administrator\STERIS\userInterface\templates\userInterface\403.html" responseMode="File" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\Users\Administrator\STERIS\userInterface\templates\userInterface\404.html" responseMode="File" />
            <error statusCode="500" prefixLanguageFilePath="" path="C:\Users\Administrator\STERIS\userInterface\templates\userInterface\500.html" responseMode="File" />
            <error statusCode="400" prefixLanguageFilePath="" path="C:\Users\Administrator\STERIS\userInterface\templates\userInterface\400.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
